<div id="loadingDiv" class="loader"></div>
<div id="listContainer"></div>

@section scripts
{
    <script language="javascript" type="text/javascript">
        $(document).ready(function () {
            $("#listContainer").load('@Url.Action("List")'); // Загрузка частичного представления
        });
        function updateContent() {
            $.ajax({
                beforeSend: function () {
                    $("#loadingDiv").show();
                },
                url: $(this).attr("href"),
                type: 'GET',
                cache: false,
                success: function (result) {
                    $('#content').html(result);
                },
                complete: function () {
                    $("#loadingDiv").hide();
                }
            });
            return false;
        }
    </script>

}
